
<html xmlns:th="http://www.thymeleaf.org">
<head>


    <meta charset="UTF-8">
    <title>Admin Panel - HomeLoanApp</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel="stylesheet" href="./admin.css">
  
	
			<style>
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}
</style>
</head>

    <body style="background-color:aliceblue;">
    	<nav class="nav">
        <label class="logo">BARCLAYS</label>
        <ul>
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li><a href="#">Apply For Loan </a></li>
            <li><a href="/logout">LOGOUT</a></li>


        </ul>

    </nav>
	<h1 style="font-family:courier;font-size:190%;">Admin Login Successfull....</h1>

	
	<h3 style="color:blue;font-size:130%;visibility: hidden;">User Name : <span th:text="${admin.username}"></span></h3>
	<h3 style="color:blue;font-size:130%;visibility: hidden;">User FirstName : <span th:text="${admin.firstname}"></span></h3>
	<h3 style="color:blue;font-size:130%;visibility: hidden;">User LastName : <span th:text="${admin.lastname}"></span></h3>
	<h3 style="color:blue;font-size:130%;visibility: hidden;">User Email  : <span th:text="${admin.email}"></span></h3>
	<h3 style="color:blue;font-size:130%;visibility: hidden;">User Phone  : <span th:text="${admin.phone}"></span></h3>

	<div >

		<table border="1">
			<tr>
				<th>Account No</th>
				<th>Amount</th>
				<th colspan="2">Action</th>
				<th>Approved Amt</th>
				<th>Eligible Amount</th>
				<th>Interest Rate</th>
				<th>Salary</th>
				<th>Tenure</th>
				<th>Status</th>
				<th>Description </th>
				<th>File</th>
				<th>Download</th>
			</tr>
			
			<tr th:each="list : ${loanAccs}" >
				<td th:text="${list.accountNo}"></td>
				<td th:text="${list.amount}"></td>
				<!-- <form method="post" action="/approveLoan"> -->
				<td ><button type="submit" th:onclick="'window.location.href=\'/approveLoan?id=' + ${list.loanAccId} + '\''" >Approve</button></td>
				<td th:onclick="'window.location.href=\'/rejectLoan?id=' + ${list.loanAccId} + '\''"><button>Reject</button>
				</td>
				<td th:text="${list.approvedAmt}">
				<!-- <input type="number" name="approvedAmt" />
				<input type="hidden" name="id" th:value="${list.accountNo+''}" /> -->
				</td>
				<!-- </form> -->
				<td th:text="${list.eligibleAmt}"></td>
				<!-- <td th:if="${loanApproved == true}" th:text="${list.approvedAmt}"></td> -->
				<td th:text="${list.interestRate}"></td>
				<td th:text="${list.salary}"></td>
				<td th:text="${list.tenure}"></td>
				<td th:text="${list.status}"></td>
				<td th:text="${list.description}"></td>
				<td></td>
				<td><a th:href="@{'/downloadfile?id=' + ${list.loanAccId}}"><i class="fa fa-download">Download</i></a></td>
				
				
			</tr>
	
			
		</table>
	</div>

</body>


</html>
<!-- th:onclick="'window.location.href=\'/approveLoan?id=' + ${list.loanAccId} + '\''" -->