<html xmlns:th="http://www.thymeleaf.org">

<body>
	
	<form method="post" action="/closeForeClosing">
		<input name="outstanding"  id="outstanding" type="text"  th:value="${outstanding}"  />
		<input name="loan_id"  id="loan_id" type="text"  th:value="${loan_id}"  />
		<input name="repaymentid"  id="repaymentid" type="text"  th:value="${repaymentId}"  />
		
		<button type="submit" >Submit</button>
	</form>
	
	<script>
		function closeForeClosure(){
			var loan_id = document.getElementById("loan_id").value;
			
			  var repaymentid = document.getElementById("repaymentid").value;
			  var outstanding = document.getElementById("outstanding").value;
			  alert(loan_id+" "+repaymentid+" "+outstanding)
			  window.location.href="../closeForeClosing/"+loan_id+"/"+repaymentid+"/"+outstanding
		}
	</script>
</body>
</html>