<html xmlns:th="http://www.thymeleaf.org">

<body>
	<h1>User Login Successfull....</h1>
	<h3>User Account : <span th:text="${account.accountno}"></span></h3>
	<h3>Balance : <span th:text="${account.balance}"></span></h3>
	<h3>Created At : <span th:text="${account.createdat}"></span></h3>
	<hr>
	<h3>User Name : <span th:text="${user.username}"></span></h3>
	<h3>User FirstName : <span th:text="${user.firstname}"></span></h3>
	<h3>User LastName : <span th:text="${user.lastname}"></span></h3>
	<h3>User Email  : <span th:text="${user.email}"></span></h3>
	<h3>User Phone  : <span th:text="${user.phone}"></span></h3>
	
	<a href="apply/loan">Apply for loan</a>
</body>

</html>