<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="./home.css">
	</head>
<body onload="loadData()">
	<nav>
        <label class="logo">BARCLAYS</label>
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li><a href="apply/loan">Loan</a></li>
            <li><a href="logout">LOGOUT</a></li>
			


        </ul>

    </nav>
    <body style="background-color:aliceblue;">
	<h1>User Login Successfull....</h1>
	<div class="row">
  <div class="column">
    <div class="card1">
 

		<h3>User Account : <span th:text="${account.accountno}"></span></h3>
	<h3>Balance : <span th:text="${account.balance}"></span></h3>
	<h3>Created At : <span th:text="${account.createdat}"></span></h3>
	  </div>  
	  
		  <div class="card2">
	
	<h3>User Name : <span th:text="${user.username}"></span></h3>
	<h3>User FirstName : <span th:text="${user.firstname}"></span></h3>
	<h3>User LastName : <span th:text="${user.lastname}"></span></h3>
	<h3>User Email  : <span th:text="${user.email}"></span></h3>
	<h3>User Phone  : <span th:text="${user.phone}"></span></h3>
		  </div> </div> </div>
	
	
	<hr>
	<div >
		<style>
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
	margin-top: 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}
</style>
		
		
		<table border="1">
			<tr>
				<th>Loan Id</th>
				<th>Amount</th>
				<th colspan="2">Action</th>
				<th>Approved Amt</th>
				<th>Interest Rate</th>
				<th>Tenure</th>
				<th>Status</th>
				<th>Description </th>
				<th>Download</th>
				<th th:if="${viewColumn}">loan</th>
				
			</tr>
			
			<tr th:each="list : ${appliedLoans}" >
				<td th:text="${list.loanAccId}"></td>
				<td th:text="${list.amount}"></td>
				<!-- <form method="post" action="/approveLoan"> -->
				<td ><button type="submit"  th:if="${list.status == 'Approved'}"th:onclick="'window.location.href=\'/acceptLoan?id=' + ${list.loanAccId} + '\''" >Accept</button></td>
				<td  ><button th:if="${list.status == 'Approved'}">Cancel</button>
				</td>
				<td th:text="${list.approvedAmt}">
				<!-- <input type="number" name="approvedAmt" />
				<input type="hidden" name="id" th:value="${list.accountNo+''}" /> -->
				</td>
				<!-- </form> -->
				<!-- <td th:if="${loanApproved == true}" th:text="${list.approvedAmt}"></td> -->
				<td th:text="${list.interestRate}"></td>
				<td th:text="${list.tenure}"></td>
				<td th:text="${list.status}"></td>
				<td th:text="${list.description}"></td>
				<td><a th:href="@{'/downloadfile?id=' + ${list.loanAccId}}"><i class="fa fa-download">Download</i></a></td>
				<th th:if="${viewColumn == 'true'}" ><button th:onclick="'window.location.href=\'/viewLoan?id=' + ${list.loanAccId} + '\''">View Loan</button></th>
				
			</tr>
	
			
		</table>
		
	</div>
	<script th:inline="javascript">
	var name = document.getElementById("principal").value;
	   
    console.log(name);
    
	function loadData(){
		
	
	}

	</script>
</body>

</html>
<!-- th:onclick="'window.location.href=\'/rejectLoan?id=' + ${list.loanAccId} + '\''" -->